@model IEnumerable<Landlyst.Models.RoomModel>

@{
    ViewBag.Title = "Index";
}

<h2>Vælg venligst de tilføjelser du ønsker</h2>
<div class="form-group">
    <div>
        <input class="" id="Balcony" type="checkbox" name="balcony" value="Altan">Altan</input>
    </div>
    <div>
        <input class="" id="DoubleBed" type="checkbox" name="doubleBed" value="Dobbeltseng">Dobbeltseng</input>
    </div>
    <div>
        <input class="" id="2SingleBeds" type="checkbox" value="2 Enkeltsenge">To enkeltsenge</input>
    </div>
    <div>
        <input class="" id="Bathtub" type="checkbox" name="Bathtub" value="Badekar">Badekar</input>
    </div>
    <div>
        <input class="" id="Jacuzzi" type="checkbox" name="jacuzzi" value="Jacuzzi">Jacuzzi</input>
    </div>
    <div>
        <input class="" id="Kitchen" type="checkbox" name="kitchen" value="Eget køkken">Eget køkken</input>
    </div>
    <div>
        <input class="" id="1SingleBed" type="checkbox" name="oneSingleBed" value="1 Enkeltseng">En Enkeltseng</input>
    </div>

    <div class="">
        <button class="btn btn-lg" id="" type="submit" onclick="searchRoomsFunc()">Search</button>
    </div>
</div>


<div id="roomsView">

</div>

<script type="text/javascript">

    function searchRoomsFunc() {

        var balcony = document.getElementById("Balcony");
        var doubleBed = document.getElementById("DoubleBed");
        var twoSingleBeds = document.getElementById("2SingleBeds");
        var bathtub = document.getElementById("Bathtub");
        var jacuzzi = document.getElementById("Jacuzzi");
        var kitchen = document.getElementById("Kitchen");
        var oneSingleBed = document.getElementById("1SingleBed");
        var additions = "";
        var url = "@Url.Action("PartialRoomList", "Reservation", new { additions = "ADDITIONS"})";
        if (balcony.checked == true) {
            additions += "Altan,";
        };
        if (doubleBed.checked == true) {
            additions += "Dobbeltseng,";
        };
        if (twoSingleBeds.checked == true) {
            additions += "2Enkeltsenge,";
        };
        if (bathtub.checked == true) {
            additions += "Badekar,";
        };
        if (jacuzzi.checked == true) {
            additions += "Jacuzzi";
        };
        if (kitchen.checked == true) {
            additions += "Eget køkken";
        };
        if (oneSingleBed.checked == true) {
            additions += "1Enkeltseng,";
        };
        url = url.replace("ADDITIONS", additions);
        $("#roomsView").load(url);
    }

    //For showing every room with features
    function reserveFunc() {
        var url = "@Html.Raw(Url.Action("PartialRoomList", "Reservation"))";
        $("#partialView").load(url);
    }

</script>

